<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-3.1.1.min.js"></script> 
    <link href="../static/js/datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Air datepicker css -->
    <script src="../static/js/datepicker/js/datepicker.js"></script> <!-- Air datepicker js -->
    <script src="../static/js/datepicker/js/datepicker.ko.js"></script> <!-- 달력 한글 추가를 위해 커스텀 -->
    <script src="../static/js/Search.js"></script>
</head>
<body>
    <form method="post">
        <input type="date" id="datepicker" name="datepicker">
        <input type="submit" id="btn-search" value="검색"></button>
    </form>
</body>
<!-- <script>
    $("#datepicker").datepicker({
            language: 'ko'
        });
</script> -->
</html>