<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-3.1.1.min.js"></script> 
    <link href="../static/js/datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Air datepicker css -->
    <script src="../static/js/datepicker/js/datepicker.js"></script> <!-- Air datepicker js -->
    <script src="../static/js/datepicker/js/datepicker.ko.js"></script> <!-- 달력 한글 추가를 위해 커스텀 -->
    <script src="../static/js/Search.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    {% extends "index.html" %}
    {% block content %}
        <section id="hero"></section>
        <section id="about"></section>
        <section id="resume"></section>
        <section id="portfolio"></section>
        <section id="services"></section>
        <form method="post">
            <input type="date" id="datepicker" name="datepicker">
            <input type="submit" id="btn-search" value="검색"></button>
        </form>
    {% endblock %}
</body>
<!-- <script>
    $("#datepicker").datepicker({
            language: 'ko'
        });
</script> -->
</html>