<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Habit</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/survey/favicon.ico" rel="icon">
  <link href="static/img/survey/favicon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/css/popup.css" rel="stylesheet">
  <link href="../static/css/table.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <!-- =======================================================
  * Template Name: MyResume - v4.6.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul class="dropdown">
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>홈</span></a></li>
        <div>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>내정보</span></a></li>
          <div class="dropdown-content">
            <a href="/logout">로그아웃</a>
          </div>
        </div>
        {% if is_patient == 1 %}
        <div>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>식단관리</span></a></li>
          <div class="dropdown-content">
            <a href="#resume">날짜별 식단 관리</a>
            <a href="#solution">솔루션 모아보기</a>
          </div>
        </div>
        {% endif %}
        {% if is_patient == 1 %}
        <li><a href="/survey" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>설문조사</span></a></li>
        {% endif %}
        {% if is_patient == 0 %}
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>환자 목록</span></a></li>
        {% endif %}
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>널 위한 Habit</h1>
      <p>널 위한 건강 <span class="typed" data-typed-items="solution"></span></p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>개인정보</h2>
          <p>환자들의 개인정보를 볼 수 있는 페이지</p>
        </div>

        <div class="row">
          
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>개인정보</h3><br>
            
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>이름:</strong> <span>{{ name }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>이메일:</strong> <span>{{ user_id }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>생일:</strong> <span>{{birth_date}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>연락처:</strong> <span>{{phone_number}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>나이:</strong> <span>{{age}}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>키:</strong> <span>{{height}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>몸무게:</strong> <span>{{weight}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>현재 앓고 있는 질환:</strong> <span>{{illness}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>복용중인 약:</strong> <span>{{medicine}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>성별:</strong> <span>{{gender}}</span></li>
                </ul>
              </div>
            </div>
            <button type="button"><a href="{{url_for('updateUser')}}">수정하기</a></button>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>정보</h2>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>회원수</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-10 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>식단수</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-10 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>솔루션수</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Facts Section -->

    {% if is_patient == 1%}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>식단관리</h2>
          <p>식단관리</p>
        </div>

        <div>
          <input type="date" id="datepicker_diet" name="datepicker">
          <button type="button" id="btn-search" onclick="js:dietSearch()">검색</button>
        </div>

        <div class="diet-items" style="display: none;">
        
          <div class="diet-item breakfast">

          </div>
        
          <div class="diet-item lunch">

          </div>
        
          <div class="diet-item dinner">

          </div>
        
        </div>
      </div>
    </section><!-- End Resume Section -->

    <section id="solution" class="solution">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>솔루션 모아보기</h2>
          <p>날짜를 선택해서 식단 솔루션을 확인하세요.</p>
        </div>

        <div>
          <input type="date" id="datepicker_solution" name="datepicker">
          <button type="button" id="btn-search" onclick="js:solutionSearch()">검색</button>
        </div>
        <div id="day_diet_container">

        </div>

        <div id="diet_analyze_table" style="display: none;">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>영양소 (단위)</th>
                <th>1일당 섭취량</th>
                <th>식품섭취 빈도조사 판단 결과</th>
              </tr>
            </thead>

            <tbody id="table_content">

            </tbody>
          </table>
        </div>

      </div>
    </section>
    {% endif %}
    {% if is_patient==0 %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>환자 목록</h2>
        </div>

        <select id="patientSelect" onchange="js:showPatientDiet(this.value)">
          <option value="" selected disabled hidden>선택해주세요</option>
          {% for patient in patientList %}
            <option value={{patient}}>{{patient}}</option>
          {% endfor %}
        </select>

        <div id="patientListTable" style="display: none;">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>날짜</th>
                <th>식사시간</th>
                <th>음식명</th>
              </tr>
            </thead>

            <tbody id="patientTableContent">

            </tbody>
          </table>
        </div>

      </div>
    </section>
    {% endif %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>만든사람들</h2>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/sun.png" class="testimonial-img" alt="">
                  <h3>널 위한 해빗</h3>
                  <h4>캡스톤디자인</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="https://habit-2021.s3.ap-northeast-2.amazonaws.com/profile/%EA%B3%A0%ED%83%9C%ED%9D%AC.PNG" class="testimonial-img" alt="">
                  <h3>고태희</h3>
                  <h4>동국대학교 정보통신공학과</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="https://habit-2021.s3.ap-northeast-2.amazonaws.com/profile/%EC%9A%B0%EC%8A%B9%EC%A0%9C.PNG" class="testimonial-img" alt="">
                  <h3>우승제</h3>
                  <h4>동국대학교 정보통신공학과</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="https://habit-2021.s3.ap-northeast-2.amazonaws.com/profile/%EC%8B%A0%ED%98%84%ED%98%B8.PNG" class="testimonial-img" alt="">
                  <h3>신현호</h3>
                  <h4>동국대학교 정보통신공학과</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="https://habit-2021.s3.ap-northeast-2.amazonaws.com/profile/%EC%9C%A4%ED%98%9C%EB%AF%BC.PNG" class="testimonial-img" alt="">
                  <h3>윤혜민</h3>
                  <h4>동국대학교 정보통신공학과</h4>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      <div class="copyright">
        &copy; Copyright <strong><span>널위한해빗</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- event listener -->
  <script src="../static/js/Search.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>