<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit - Login</title>
    <!-- <link href="static/css/sty.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="../static/fonts/login/style.css">
    <link rel="stylesheet" href="../static/css/login/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/login/style.css">

</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('../static/img/medical-g8c48bf3f1_1920.jpg');"></div>
        <div class="contents order-2 order-md-1">
        
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Log In</h3>
                            <p class="mb-4">로그인하세요</p>
                        </div>
                        <form method="post" class="loginForm">
                            {{form.csrf_token}}
                            <div class="form-group first">
                                <label for="userEmail">E-mail</label>
                                <input type="text" class="form-control" placeholder="Your Email" name="userEmail" id="userEmail">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="userPassword">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password" id="userPassword" name="userPassword">
                            </div>
                            <input type="submit" value="로그인" class="btn"><br>
                            <input type="button" value="회원가입" class="btn" onclick="location.href='register'">
                            <div class="bottomText">
                                아이디가 없으신가요? <a href="#">회원가입</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <form method="post" class="loginForm" >
        {{form.csrf_token}}
        <div class="idForm">
            <label for="userEmail">E-mail</label>
            <input type="text" class="idForm" placeholder="Your Email" name="userEmail" id="userEmail">
        </div>
        <div class="passForm">
            <label for="userPassword">Password</label>
            <input type="password" class="passForm" placeholder="Your Password" id="userPassword" name="userPassword">
        </div>
        <input type="submit" value="로그인" class="btn"><br>
        <input type="button" value="회원가입" class="btn" onclick="location.href='register'">
        <div class="bottomText">
            아이디가 없으신가요? <a href="#">회원가입</a>
          </div>
        <script>
            let button = () => {
              alert('로그인 버튼을 클릭하세요!')
          }
        </script>
    </form> -->
</body>
</html>

