<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="calendar"></div>
    {% for diet in dietList %}
        <p>{{diet}}</p>
    {% endfor %}
</body>
</html> -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static',filename='fonts/calendar/icomoon/style.css')}}">

    <link href="{{url_for('static',filename='fullcalendar/packages/core/main.css')}}" rel='stylesheet' />
    <link href="{{url_for('static',filename='fullcalendar/packages/daygrid/main.css')}}" rel='stylesheet' />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/calendar/bootstrap.min.css')}}">

    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/calendar/style.css')}}">

    <title>환자 식단 달력</title>
</head>

<body>


    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>


    <script src="{{url_for('static',filename='js/calendar/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/calendar/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/calendar/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static',filename='fullcalendar/packages/core/main.js')}}"></script>
    <script src="{{url_for('static',filename='fullcalendar/packages/interaction/main.js')}}"></script>
    <script src="{{url_for('static',filename='fullcalendar/packages/daygrid/main.js')}}"></script>
    <script src="{{url_for('static',filename='fullcalendar/packages/timegrid/main.js')}}"></script>
    <script src="{{url_for('static',filename='fullcalendar/packages/list/main.js')}}"></script>

    <script>
        const getUserDietInfo = () => {
            const config = {
                headers: {
                    'Accept': 'application/json'
                }
            };
            const url = document.location.href.split('/');
            const doctorId = url[3];
            const patientId = url[5];
            try{
                return fetch(`/patientList/${patientId}`,config).then((res) => {console.log(res); return res.json();})
            }
            catch(err){
                console.log(err);
            }
            // return fetch(`/${doctorId}/patientList/${patientId}`, config).then((res) => res.json());
        };
        var diets = getUserDietInfo();
        console.log(diets);

        getUserDietInfo().then((res) => {
            console.log(res);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                height: 'parent',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth'
                },
                defaultView: 'dayGridMonth',
                defaultDate: '2020-02-12',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2020-02-01',
                    },
                    {
                        title: 'Long Event',
                        start: '2020-02-07',
                        end: '2020-02-10'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-02-09T16:00:00'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-02-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2020-02-11',
                        end: '2020-02-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-02-12T10:30:00',
                        end: '2020-02-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2020-02-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-02-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2020-02-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2020-02-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2020-02-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2020-02-28'
                    }
                ]
            });

            calendar.render();
        });

    </script>

    <script src="{{url_for('static',filename='js/calendar/main.js')}}"></script>
</body>

</html>