<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>널 위한 해빗 - 회원가입</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../static/fonts/signup/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../static/vendor/signup/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/signup/style.css">

    <!-- Favicons -->
    <link href="static/img/survey/favicon.ico" rel="icon">
    <link href="static/img/survey/favicon.ico" rel="apple-touch-icon">
    
</head>

<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="../static/img/medical-g8c48bf3f1_1920.jpg" alt="">
                    <div class="signup-img-content">
                        <h2>널 위한 해빗</h2>
                        <p>AI기반 식생활습관 솔루션 제공</p>
                    </div>
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" onsubmit="submit()">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="userName" class="required">이름</label>
                                    <input type="text" name="userName" id="userName" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userEmail" class="required">Email</label>
                                    <input type="text" name="userEmail" id="userEmail" required/>
                                </div>
                                <div class="form-input form-password">
                                    <label for="userPassword" class="required">비밀번호</label>
                                    <input type="password" name="userPassword" id="userPassword" required/>
                                </div>
                                <div class="form-input form-password">
                                    <label for="userPasswordCheck" class="required">비밀번호 확인</label>
                                    <input type="password" name="userPasswordCheck" id="userPasswordCheck" onchange="isSame()" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userPhoneNum" class="required">연락처</label>
                                    <input type="text" name="userPhoneNum" id="userPhoneNum" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userIllness" class="required">현재 앓고 계신 질병이 있나요?</label>
                                    <input type="text" name="userIllness" id="userIllness" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="userGender">성별</label>
                                    </div>
                                    <div class="form-radio-group">
                                        <div class="form-radio-item">
                                            <input type="radio" name="userGender" id="genderMale" value="남자" checked>
                                            <label for="genderMale">남자</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="userGender" id="genderFemale" value="여자">
                                            <label for="genderFemale">여자</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="isPatient">신분</label>
                                    </div>
                                    <div class="form-radio-group">
                                        <div class="form-radio-item">
                                            <input type="radio" name="isPatient" id="patient" value='0' checked>
                                            <label for="patient">의사</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="isPatient" id="doctor" value="1">
                                            <label for="doctor">환자</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label for="userHeight">키</label>
                                    <input type="number" name="userHeight" id="userHeight" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userWeight">몸무게</label>
                                    <input type="number" name="userWeight" id="userWeight" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userAge">나이</label>
                                    <input type="number" name="userAge" id="userAge" required/>
                                </div>
                                <div class="form-input">
                                    <label for="userMedicine">현재 복용 중인 약이 있나요?</label>
                                    <input type="text" name="userMedicine" id="userMedicine" />
                                </div>
                            </div>
                        </div>
                        <div class="donate-us">
                            <label>생일</label>
                            <input type="date" name="userBirthDate" required>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="가입" class="submit" id="submit" name="submit" />
                            <input type="button" value="뒤로가기" class="submit" id="reset" name="reset" onclick="history.back()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="../static/vendor/signup/jquery.min.js"></script>
    <script src="../static/vendor/signup/nouislider.min.js"></script>
    <script src="../static/vendor/signup/wNumb.js"></script>
    <script src="../static/vendor/signup/jquery.validate.min.js"></script>
    <script src="../static/vendor/signup/additional-methods.min.js"></script>
    <script src="../static/vendor/signup/main.js"></script>
    <script>
        function isSame() {
            var a = document.querySelector('#userPassword');
            var b = document.querySelector('#userPasswordCheck');
            if(a.value === b.value){
                a.style.border = '1px solid green';
                b.style.border = '1px solid green';
                return true;
            }else{
                a.style.border = '1px solid red';
                a.style.border = '1px solid red';
                return false;
            }
        }
        async function submit(){
            if(!isSame()){
                event.preventDefault();
                alert('비밀번호가 맞지 않습니다')
                return false;
            }else{
                return true;
            }
        }
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>