<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="../static/css/showDiet.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>{{userName}}님의 {{date}} {{mealtime}} 영양 소견지</h2>
        <img src={{imgsrc}} width="300px" height="300px">
        <hr>
        <h3>3대 영양소 섭취량</h3>
        <table style="width: auto; height: auto;">
            <th>영양소</th>
            <th>1일당 섭취량</th>
            <tr>
                <td>열량(kcal)</td>
                <td>{{calorie}}</td>
            </tr>
            <tr>
                <td>탄수화물(g)</td>
                <td>{{carbohydrate}}</td>
            </tr>
            <tr>
                <td>지방(g)</td>
                <td>{{fat}}</td>
            </tr>
            <tr>
                <td>단백질(g)</td>
                <td>{{protein}}</td>
            </tr>
        </table>

        <h3>영양소별 평과 결과</h3>
        
        <canvas id="myChart" style="width: 100%; max-width: 600px;"></canvas>
    </div>

    <script>
        var xValues = ['탄수화물','단백질','지방'];
        var yValues = [55,49,44];
        var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797"
        ];

        new Chart("myChart",{
            type:"pie",
            data:{
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title:{
                    display: true,
                    text:"asdfcx"
                }
            }
        });
    </script>
</body>
</html>