<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{userName}}님의 {{date}} {{mealtime}} 영양 소견지</h2>
    <img src={{imgsrc}} width="300px" height="300px">
    <hr>
    <h3>3대 영양소 섭취량</h3>
    <table style="width: auto; height: auto;">
        <th>영양소</th>
        <th>1일당 섭취량</th>
        <tr>
            <td>열량(kcal)</td>
            <td>{{calorie}}</td>
        </tr>
        <tr>
            <td>탄수화물(g)</td>
            <td>{{carbohydrate}}</td>
        </tr>
        <tr>
            <td>지방(g)</td>
            <td>{{fat}}</td>
        </tr>
        <tr>
            <td>단백질(g)</td>
            <td>{{protein}}</td>
        </tr>
    </table>

    <h3>영양소별 평과 결과</h3>



    <!-- <img src={{imgsrc}} width="300px" height="300px">
    <p id="imgsrc" style="display: none;">{{imgsrc}}</p>
    <ul>음식</ul>
    {% for food in foods %}
        <li>{{ food }}</li>
    {% endfor %}
    <p>날짜 : {{ date }}</p>
    <p>식사 시간 : {{ mealtime }}</p>
    <p>솔루션 : {{ solution }}</p> -->

</body>
</html>