<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3,h4{
            display: inline;
        }
    </style>
</head>
<body>
    <div class="hover_bkgr_fricc" style="width: 600px;"><span class="helper"></span>
        <div>
            <p>
                <h3>아침</h3>
                <h3 style="color: red;">807 kcal</h3>
            </p>
            <p>
                <h4>탄 19g</h4>
                <h4>단 19g</h4>
                <h4>지 19g</h4>
            </p>
            <img
                src="https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAyMTA3MDFfMjMy%2FMDAxNjI1MTM1MzkwNDA2.KCkC4OhbNW92h9_07dNGKGO7vKPOM_LE9umbMTD1BTcg.iDMvaVfS5Biu25c-wCyk-MY_tm8jwqATWeua8OI0DqAg.JPEG%2FexternalFile.jpg&amp;type=a340"
                width="300" height="300">
            <div class="popupCloseButton">×</div>
            
        </div>
    </div>
</body>
</html>