<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select id="se"  onchange="showPatientDiet(this.value)">
        <option value="" selected disabled hidden>선택해주세요</option>
        <option value="ko">ko</option>
        <option value="shin">shin</option>
    </select>
    
    <div>
        <table id="pt">
            <tr>
                <th>이름</th>
                <th>날짜</th>
            </tr>
            <tbody id="ptc">

            </tbody>
        </table>
    </div>

    <script>
        function showPatientDiet(patientName){
            const table = document.querySelector('#ptc');
            while(table.hasChildNodes()){
                table.removeChild(table.firstChild);
            }
            const k = [['ko','아침','1115'],['ko','점심','1115'],['ko','저녁','1115']];
            const s = [['shin','아침', '1115'], ['shin','점심', '1115']];
            const arr = [...k,...s];
            arr.map((item) =>{
                if(item[0] === patientName){
                    var row = `
                                <tr>
                                    <td>${item[1]}</td>
                                    <td>${item[2]}</td>
                                </tr>
                                `;
                    table.innerHTML += row;
                }
            });
        }
    </script>
</body>
</html>