<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <div class="form-group first">
            <label for="updateName">이름</label>
            <input type="text" class="form-control" id="updateName" name="updateName" value="{{user[1]}}" required />
        </div>
        <div class="form-group last mb-3">
            <label for="updateEmail">E-mail</label>
            <p id="updateEmail" name="updateEmail">{{user[0]}}</p><br><br>

            <label for="updatePassword">비밀번호</label>
            <input type="password" class="form-control" id="updatePassword" name="updatePassword" onchange="isSame()" value="{{user[2]}}"
                required /><br><br>

            <label for="updatePasswordCheck">비밀번호 확인</label>
            <input type="password" class="form-control" id="updatePasswordCheck" name="updatePasswordCheck" onchange="isSame()" value="{{user[2]}}"
                required /><br><br>
            <p id="same"></p>

            <label for="updateAge">나이</label>
            <input type="number" class="form-control" id="updateAge" name="updateAge" value="{{user[4]}}" required /><br><br>

            <label for="updateHeight">키</label>
            <input type="number" class="form-control" id="updateHeight" name="updateHeight" value="{{user[5]}}" required /><br><br>

            <label for="updateWeight">몸무게</label>
            <input type="number" class="form-control" id="updateWeight" name="updateWeight" value="{{user[6]}}" required /><br><br>

            <label for="updateMedicine">복용 중이신 약이 있으신가요?</label>
            <input type="text" class="form-control" id="updateMedicine" name="updateMedicine" value="{{user[10]}}"/><br><br>

            <label for="updateBirthDate">생일</label>
            <input type="date" class="form-control" id="updateBirthDate" name="updateBirthDate" value="{{user[7]}}" required /><br><br>

            <label for="updatePhoneNum">연락처</label>
            <input type="text" class="form-control" id="updatePhoneNum" name="updatePhoneNum" value="{{user[11]}}" required /><br><br>
        </div>

        <input type="submit" value="수정하기" class="btn btn-block py-2 btn-primary" onclick="update()"><br>
        <button type="button" onclick="location.href='../main'">뒤로 가기</button>
    </form>
    <script>
        var pw = document.getElementById('updatePassword').value;
        var pwck = document.getElementById('updatePasswordCheck').value;

        function isSame() {
            if (document.getElementById('updatePassword').value != '' && document.getElementById('updatePasswordCheck').value != '') {

                if (document.getElementById('updatePassword').value != document.getElementById('updatePasswordCheck').value) {
                    document.getElementById('same').innerHTML = '비밀번호가 일치하지 않습니다';
                    document.getElementById('same').style.color = "red";
                } else {
                    document.getElementById('same').innerHTML = '비밀번호가 일치합니다'
                    document.getElementById('same').style.color = 'blue';
                }
            }
        }
        function update() {
                var ans = confirm('이대로 수정하시겠습니까??')
                if (ans) {
                    return true;
                } else {
                    return false;
                }
        }
    </script>
</body>
</html>