*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
  
  }
  
  body {
    background: url("../img/medical-g8c48bf3f1_1920.jpg") ;
    background-repeat: no-repeat;
  }
  .bg-image{
    display: inline;
    width: 50%;
  }
  .bg-loginform{
    display: inline;
  }
  
  .loginForm {
    position:absolute;
    width:300px;
    height:500px;
    padding: 50px, 20px;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: px;
  }
  
  .loginForm h2{
    text-align: center;
    margin: 20px;
  }
  
  .idForm{
    border-bottom: 2px solid #adadad;
    margin: 20px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 20px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn{ 
    display: inline-block;
    width:200px;
    padding: 12px 24px; 
    margin-bottom: 20px;
    background: #ffffff; 
    font-weight: bold; 
    color: black; 
    border: none; 
    outline: none; 
    border-radius: 3px; 
    cursor: pointer; 
    transition: ease .3s; 
    } 
    .btn:hover { 
        background: #1E90FF; 
        color: #ffffff; 
    } 
  /* .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .btn:hover {
    background-position: right;
  } */
  
  .bottomText {
    text-align: center;
  }

  h1{
      margin-top: 50px;
      text-align: center;
  }